/* 初期化 */
#panels-container.left ~ div > #tabs-tabbar-container.left {
	left: unset;
}

/* ホバー・フォーカス以外 */
#tabs-tabbar-container.left:not(:focus-within):not(:hover){
	width: 39px !important;
	transition: width 0.15s ease-out 0.15s !important;
}
#tabs-tabbar-container.left:not(:focus-within):not(:hover) .newtab{
	left: 3px !important;
	width: 30px !important;
	transition: width 0.15s ease-out 0.15s !important;
}

/* ホバー・フォーカス時 */
#tabs-tabbar-container.left{
	width: 260px !important;
	transition: width 0.15s ease-out 0.15s !important;
}
#tabs-tabbar-container.left .newtab{
	left: 3px !important;
	width: 250px !important;
	transition: width 0.15s ease-out 0.15s !important;
}
